@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background-image: url('./assets/destination/background-destination-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}